*.o
*~
src/autoz-gui
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
stamp-h1
.anjuta*
*.exe
libautozgui.pc
config.h.in
libtool
ltmain.sh
.libs
*.lo
*.la
.deps
